<!-- Menu -->
<!-- MANOOOOO ELE VALIDA MAIUSCULA E MINUSCULA NO MENU, CUIDADOOOOO -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<style>
  @media (min-width: 1200px) {
    #layout-menu {
        margin-top: 63px;
        margin-bottom: 10px;
    }
  }
</style>

<nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
  <div class="container-fluid">
    <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
      <img src="../../img/logos/d.png" alt="Logotipo da Dshow" width="10.2%" />
      <span class="app-brand-text demo menu-text fw-bold">show</span>
      

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
      <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
        <i class="bx bx-menu bx-sm"></i>
      </a>
    </div>

    <!-- Barra de usuário e notificações -->
    <div class="navbar-nav-right d-flex align-items-center me-4 gap-3 justify-content-end">
      <div class="navbar-nav align-items-center">
        <div class="nav-item dropdown-style-switcher dropdown me-2 me-xl-0">
          <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
            <i class="bx bx-sm"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-start dropdown-styles">
            <li><a class="dropdown-item" href="javascript:void(0);" data-theme="light"><i class="bx bx-sun me-2"></i>Light</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);" data-theme="dark"><i class="bx bx-moon me-2"></i>Dark</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);" data-theme="system"><i class="bx bx-desktop me-2"></i>System</a></li>
          </ul>
        </div>
      </div>

      <ul class="navbar-nav flex-row align-items-center gap-3">
          <a class="nav-link" href="/configuracoes">
            <div class="avatar w-px-30 h-auto">
              <i class="bx bx-cog bx-sm"></i>
            </div>
          </a>

        <!-- User -->
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
          <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
            <div class="avatar avatar-online w-px-30 h-auto">
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="#">
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3 d-flex align-items-center">
                    <div class="avatar avatar-online w-px-30 h-auto">
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li><div class="dropdown-divider"></div></li>
            <li><a class="dropdown-item" href="#"><i class="bx bx-user me-2"></i><span class="align-middle">Meu Perfil</span></a></li>
            <li><a class="dropdown-item" href="#"><i class="bx bx-cog me-2"></i><span class="align-middle">Configurações</span></a></li>
            <li><div class="dropdown-divider"></div></li>
            <li><a class="dropdown-item" href="/login/logout"><i class="bx bx-power-off me-2"></i><span class="align-middle">Deslogar</span></a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Search Small Screens -->
    <div class="navbar-search-wrapper search-input-wrapper container-xxl d-none">
      <input
        type="text"
        class="form-control search-input border-0"
        placeholder="Search..."
        aria-label="Search..." />
      <i class="bx bx-x bx-sm search-toggler cursor-pointer"></i>
    </div>
  </div>
</nav>

<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0">
  <div class="container-xxl d-flex h-100">
    <ul class="menu-inner">
      <!-- Home -->

      <!-- RH -->
      <li class="menu-item <%= activeMenu === 'RH' ? 'active' : '' %>">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-paste"></i>
          <div class="text-truncate me-2">R. H.</div>
          <!-- <span class="badge rounded-pill bg-success ms-auto">1</span> -->
        </a>
        <ul class="menu-sub">
          <li class="menu-item <%= activeMenu === 'RH' && submenu === 'Funcionários' ? 'active' : '' %>">
            <a href="/funcionarios" class="menu-link disabled-link">
              <i class="menu-icon tf-icons bx bx-user"></i>
              <div class="text-truncate" data-i18n="Funcionários">Funcionários</div>
              <span class="badge rounded-pill bg-warning ms-auto">EM BREVE</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>

<form id="menuForm" method="post">
  <input type="hidden" id="activeMenu" name="activeMenu" value="<%= activeMenu %>" />
  <input type="hidden" id="submenu" name="submenu" value="<%= submenu %>" />
</form>


<script>
  function sendForm(url, menu, submenu) {
    console.log(url,menu,submenu);
    document.getElementById('activeMenu').value = menu;
    document.getElementById('submenu').value = submenu;
    document.getElementById('menuForm').action = url;
    document.getElementById('menuForm').submit();
  }
</script>

<!-- / Menu -->
